*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color: #117964;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
}
.div1 {
    grid-column: span 5 / span 5;
}
.div1 .logo{
    border-radius: 50%;
    width: 50px;
}
.div2 {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div2 a{
    text-decoration: none;
}
.div2 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div2 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div2 p{
    font-size: 14px;
    color: #555;
}
.div2 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div2 button:hover {
    background-color: #e60073;
}
.div2:hover{
    transform: translateY(-10px);
}
.div3 {
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div3 a {
    text-decoration: none;
}
.div3 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div3 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div3 p{
    font-size: 14px;
    color: #555;
}
.div3 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div3 button:hover {
    background-color: #e60073;
}
.div3:hover{
    transform: translateY(-10px);
}
.div4 {
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div4 a{
    text-decoration: none;
}
.div4 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div4 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div4 p{
    font-size: 14px;
    color: #555;
}
.div4 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div4 button:hover {
    background-color: #e60073;
}
.div4:hover{
    transform: translateY(-10px);
}
.div5 {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div5 a{
    text-decoration: none;
}
.div5 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div5 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div5 p{
    font-size: 14px;
    color: #555;
}
.div5 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div5 button:hover {
    background-color: #e60073;
}
.div5:hover{
    transform: translateY(-10px);
}
.div6 {
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div6 a{
    text-decoration: none;
}
.div6 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div6 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div6 p{
    font-size: 14px;
    color: #555;
}
.div6 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div6 button:hover {
    background-color: #e60073;
}
.div6:hover{
    transform: translateY(-10px);
}
.div7 {
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div7 a{
    text-decoration: none;
}
.div7 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div7 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div7 p{
    font-size: 14px;
    color: #555;
}
.div7:hover{
    transform: translateY(-10px);
}
@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}
@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}