*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    transition: width 0.3s ease-in-out;
}

.search-bar input:focus {
    width: 200px;
}

.results {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
}

.results.active {
    display: block;
}

.results div {
    padding: 8px;
    cursor: pointer;
}

.results div:hover {
    background: #f1f1f1;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color: #117964;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    margin-top: auto;

}
.navbar{
    margin-top: 0%;
}
.parent .logo{
    border-radius: 50%;
    width: 50px;
}
.div2 {
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div2 a{
    text-decoration: none;
}
.div2 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div2 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div2 p{
    font-size: 14px;
    color: #555;
}
.div2 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div2 button:hover {
    background-color: #e60073;
}
.div2:hover{
    transform: translateY(-10px);
    background-color: #defdff;
}
.div3 {
    grid-column-start: 3;
    grid-row-start: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div3 a {
    text-decoration: none;
}
.div3 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div3 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div3 p{
    font-size: 14px;
    color: #555;
}
.div3 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div3 button:hover {
    background-color: #e60073;
}
.div3:hover{
    transform: translateY(-10px);
    background-color: #defdff;
}
.div4 {
    grid-column-start: 4;
    grid-row-start: 2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div4 a{
    text-decoration: none;
}
.div4 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div4 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div4 p{
    font-size: 14px;
    color: #555;
}
.div4 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div4 button:hover {
    background-color: #e60073;
}
.div4:hover{
    transform: translateY(-10px);
    background-color: #defdff;
}
.div5 {
    grid-column-start: 2;
    grid-row-start: 3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div5 a{
    text-decoration: none;
}
.div5 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div5 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div5 p{
    font-size: 14px;
    color: #555;
}
.div5 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div5 button:hover {
    background-color: #e60073;
}
.div5:hover{
    transform: translateY(-10px);
    background-color: #defdff;
}
.div6 {
    grid-column-start: 3;
    grid-row-start: 3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div6 a{
    text-decoration: none;
}
.div6 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div6 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div6 p{
    font-size: 14px;
    color: #555;
}
.div6 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div6 button:hover {
    background-color: #e60073;
}
.div6:hover{
    transform: translateY(-10px);
    background-color: #defdff;
}
.div7 {
    grid-column-start: 4;
    grid-row-start: 3;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div7 a{
    text-decoration: none;
}
.div7 img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.div7 h3 {
    font-size: 18px;
    margin: 10px 0;
    color: black;
}
.div7 p{
    font-size: 14px;
    color: #555;
}
.div7:hover{
    transform: translateY(-10px);
    background-color: #defdff;
}
.div7 button{
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.div7 button:hover {
    background-color: #e60073;
}
